# Python
__pycache__
*.pyc
**/__pycache__
**/*.pyc
build/
dist/
**/*.egg-info
venv
.venv

# Project configuration and data directories
config
data

# Docker
.dockerignore
Dockerfile
docker-compose.*

# Build
bin/
Makefile

# Development/test cache & configurations
.cache
.env
.env.dist
.git
.gitignore
.pylint.d
.pylintrc
.pytest_cache
.vscode
