# Python
__pycache__
*.pyc
**/__pycache__
**/*.pyc
build/
dist/
**/*.egg-info
venv
.venv

# Project data directories
data

# Docker
.dockerignore
Dockerfile

# Development/test cache & configurations
.cache
.coverage
.env
.env.dist
.git
.gitignore
.pylint.d
.pylintrc
.pytest_cache
.vscode
